<!DOCTYPE html>
<html>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"/> -->
<body>

<h1>Home Page</h1>
  
<p>This is home</p>

<label for="Username"><b>ten Dang Nhap</b></label>
      <input type="text" placeholder="Username" name="Username" required>
      <label for="psw"><b>Mat khau</b></label>
    <input type="password" placeholder= "txtpassword" name="psw" required>
    <button type="submit">Dang nhap</button>

</body>
</html>