<!DOCTYPE html>
<html>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"/> -->
<body>

<h1>Home Page</h1>
  
<p>This is home</p>

<label for="Username"><b>txtUsername</b></label>
      <input type="text" placeholder="Username" name="Username" required>

</body>
</html>